*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(img/pexels-peaky-29445973.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;

    background-attachment: fixed;
   
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}


@media (max-width: 600px){
    body{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 10px;
        word-wrap: break-word;
    }
    #projetos{
        flex-direction: column;
    }

    .pag-resposiv{
        width: 100%;
        max-width: 100px;
        margin-top: auto;
        height: auto;
        max-height:200px;
        flex-direction: column;
        font-size: medium;     
    }

    .pag-resposiv a{
        justify-content: right;
        width: 100%;
        margin-top: auto;
        max-width: 80px;
        flex-direction: column;
        text-align: right;
    }

    #downc{
        margin-right: 100px;
    }
}

#bloco{
    width: 100% ;
    max-width: ;

    margin: 0 auto;
    height: 100%;
    max-height: 5000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 

    box-shadow: 0px 0px 10px 5px rgba(7, 7, 7, 0.555);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
   
}

#eu{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 100px;
    margin-top:  80px;
}

#links{
    position: sticky;
    top: 0;
    width:100%;
    height: 27px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:  rgba(247, 236, 236, 0.089);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.37);
    margin: 0;
    gap: 3px;
    z-index: 10;
    
    
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px); 
}

#imglink{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 3px;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

#imglink:hover{
    transform: scale(1.50);
}

#iconlink{
    width: 25px;
}


#iconhub{
    margin-top: 3px;
    width: 25px;
    gap: 4px;
    transition: 0.3s;
    cursor: pointer;
    align-items: center;
}

#iconhub:hover{
    transform: scale(1.50);
}

#iconmai{
    margin-top: 3px;
    width: 25px;
    gap: 1px;
    transition: 0.3s;
    cursor: pointer;
}

#iconmai:hover{
    transform: scale(1.50);
}

#downc{
    margin-top:  3px;
    
    transition: 0.3s;
    cursor: pointer;
}

#downc:hover{
    transform: scale(1.50);
}

.pag-resposiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    

    margin:auto;
    border-radius: 20px;
    border: 1px solid rgba(182, 176, 176, 0.589);
    background-color: rgba(66, 64, 64, 0.24);
    width:100%;
    max-width: 700  px;
    height: auto;
}

.pag-resposiv a {
    margin: auto ;
    text-decoration: none;
    color : white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#efeito-pag{
    transition: 0.3s;
    cursor: pointer;
    
}

#efeito-pag:hover{
    transform: scale(1.50);
}

#historico{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-top: 55px;
    padding: 1rem;
    width: 100%;
    max-width: 1000px;
    height: auto;
    line-height: 1.6;
    font-weight: 400;
}

.front{
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 57, 57, 0.26);
    width: 100%;
    max-width: 500px;
    height: auto;
    overflow: hidden;
    transition: box-shadow 0.3s ease, border-color 0.3s ease ;
    cursor: default;
    border: 1px solid rgba(182, 176, 176, 0.589);
    margin: 4px auto;
}

.front:hover{
    border-color: white;
    box-shadow: 0 0 20px 5px rgba(83, 82, 82, 0.541);
}



.tecnologias{
    margin-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.back-tecno{
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 57, 57, 0.26);
    width: 100%;
    max-width: 350px;
    height: auto;
    overflow: hidden;
    transition: box-shadow 0.3s ease, border-color 0.3s ease ;
    cursor: default;
    border: 1px solid rgba(182, 176, 176, 0.589);
    margin: 40px auto;  
}

.back-tecno:hover{
    border-color: white;
    box-shadow: 0 0 20px 5px rgba(83, 82, 82, 0.541);
}

.itemz:hover{
     transform: scale(1.05);
}

.itemz{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}






#texto-projeto{
    font : normal 30pt arial ;
}

#projetos{
    
    justify-content: center;
    display: flex;
    gap: 40px;
}

#movix{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: rgba(0,0,0,0.37);
    border: 1px solid rgba(182, 176, 176, 0.589);
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#movix:hover{
    transform: scale(1.05);
}

.imgmovix{
    width: 80%;
    height: auto;
}

#calculator{

    width: 100%;
    max-width: 500px;
    height: auto;
    background-color: rgba(0,0,0,0.37);
    border: 1px solid rgba(182, 176, 176, 0.589);
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

#calculator:hover{
    transform: scale(1.05);
}